@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

/* MULTI-USE */

html {
    scroll-behavior: smooth;
}

body {
    padding: 32px 80px;
}

.row {
    width: 100%;
    margin: 0, auto;
}

.text__color--purple {
    color: #6415FF;
}

p {
    line-height: 1.5;
}

/* 

NAVIGATION 

*/

.logo__container {
    position: relative;
}

.logo__position {
    font-size: 24px;
    color: #243E63;
    font-weight: 900;
    position: absolute;
    top: 5px;
    left: 50px;
}

.logo__img {
    width: 42px;
}

li {
    list-style-type: none;
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

a {
    text-decoration: none;
    display: flex;
}

.nav__link--list :not(:last-child) {
    margin-top: 14px;
}

.nav__link--anchor {
    margin: 0 24px;
    text-decoration: none;
    font-size: 14px;
    color: #243E63;
    font-weight: 600;
}

.login__style {
    margin: 0px 24px 0px 48px;
}

.nav__link--anchor--primary {
    background-color: #6415FF;
    border-radius: 50px;
    padding: 12px 32px;
    color: #F7FAFC;
}

input::placeholder {
    color: #A0AEC0;
    font-size: 16px;
}

/* 

HEADING

 */

.heading__container {
    padding: 140px 0px;
    display: flex;
}

.heading__section--1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading__section--2 {
    display: flex;
    width: 60%;
    height: 500px;
}

h1 {
    color: #1A202C;
    font-size: 48px;
}

.heading__para {
    width: 468px;
    color: #243E63;
    font-size: 16px;
    margin: 32px 0;
}

.heading__img {
    width: 100%;
}

form {
  position: relative;
  width: 400px;
}

input {
  width: 100%;
  border: 2px solid #E5E7EB;;
  border-radius: 50px;
  padding: 24px 192px 20px 32px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}

.btn {
  font-weight: 700;
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #6415FF;
  color: #F7FAFC;
  outline: none;
  margin: 8p 8px 8px 0;
  width: 160px;
  padding: 4px;
  margin: 4px;
  border-radius: 100px;
  font-size: 16px;
  z-index: 2;
}

.btn:hover {
    background-color: #4210a5;
}

.trusted__customer--container {
    margin-top: 80px;
}

.trusted__customer--text {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.heading__review {
    margin-top: 16px;
    padding-right: 64px;
    width: 90%;
    filter: invert(72%) sepia(97%) saturate(0%) hue-rotate(150deg) brightness(95%) contrast(100%);
}

/* 

FEATURES

 */

 .container {
    padding: 96px 0px;
 }

 .features {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .service {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 150px;
 }

 .feature__title {
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
 }

 .feature__heading {
    color: #243E63;
    font-size: 48px;
    font-weight: 900;
 }

 .feature__para {
    color: #7C8BA1;
    font-size: 18px;
    margin: 24px 0px;
    width: 570px;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 500;
 }

 .service__container {
    display: flex;
    width: calc(100%/3);
    padding: 32px 8px;
 }

.service__description--img {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.service__description--text {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.service__para {
    line-height: 2;
    margin-top: 16px;
}

.service__img--size {
    width: 60px;
    border: 1px solid #E3E7EB;
    border-radius: 50px;
    padding: 16px;
}

.service__heading {
    font-size: 24px;
    color: #243E63;
}

.service__para {
    font-size: 16px;
    color: #7C8BA1;
    font-weight: 500;
}

/*

 Quality Work 

 */

.quality__work--container{
    padding: 32px 0px;
    display: flex;
}

.quality__work--img {
    width: 100%;
    border: 1px solid #E3E7EB;
}

.quality__work--1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quality__work--2 {
    display: flex;
    width: 50%;
}

 .quality__work--title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

.quality__work--heading {
    font-size: 52px;
    margin-top: 16px;
    color: #243E63;
    font-weight: 900;
}

.quality__work--para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px 32px 0px;
}

.quality__work--link {
    display: flex;
    justify-content: center;
    width: 20%;
    font-size: 14px;
    font-weight: 700;
    background-color: #6415FF;
    border-radius: 50px;
    padding: 16px 24px;
    color: #F7FAFC;
}


/* 

Get Started

 */

.steps--container {
    display: flex;
    padding: 56px 0px;
}

.steps__img {
    width: 100%;
}
.steps--1 {
    display: flex;
    align-items: center;
    width: 50%;
}

.steps--2 {
    margin: 0px 32px 0px 64px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.steps--specific {
    display: flex;
}

.steps--text {
    display: flex;
    flex-direction: column;
}

.steps--title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.steps--heading {
    font-size: 48px;
    color: #243E63;
    font-weight: 900;
    margin-top: 16px;
}

.steps__specific--container {
    margin-top: 32px;
}

.steps--number {
    display: flex;
    width: 10%;
    font-size: 36px;
    color: #d1dae6;
    font-weight: 500;
}

.steps--text {
    display: flex;
    width: 95%;
}

.steps__description--heading {
    color: #243E63;
    font-size: 20px;
}

.steps__description--para {
    color: #A0AEC0;
    font-size: 14px;
    margin-top: 12px;
    width: 320px;
}

/*

Values

 */

 .value--container{
    padding: 72px 0px;
    display: flex;
}

.value--img {
    width: 100%;
}

.value--1 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.value--2 {
    display: flex;
    width: 50%;
}

 .value--title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

.value--heading {
    font-size: 52px;
    margin-top: 16px;
    color: #243E63;
    font-weight: 900;
}

.value--para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    margin: 16px 0px 32px 0px;
}

.value--link {
    display: flex;
    justify-content: center;
    width: 20%;
    font-size: 14px;
    font-weight: 700;
    background-color: #6415FF;
    border-radius: 50px;
    padding: 16px 24px;
    color: #F7FAFC;
}

.principle__affordable--image {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.principle__professionalism--image {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.principles__list {
    display: flex;
}

.principle__affordable--image-container {
    display: flex;
    margin-bottom: 16px;
}

.principle__professionalis--image-container {
    display: flex;
    margin-bottom: 16px;
}

.fa-suitcase {
    padding: 10px;
    border-radius: 50px;
    color: rgba(155,44,44);
    background-color: #FEB2B2;
}

.fa-dollar-sign {
    color: rgba(39,103,73);
    padding: 10px 13px;
    border-radius: 50px;
    background-color: #9AE6B4;
}

.principle__professionalism {
    font-size: 20px;
    color: #243E63;
    font-weight: 700;
    margin: 6px 0px 0px 12px;
}

.principle__affordable {
    font-size: 20px;
    color: #243E63;
    font-weight: 700;
    margin: 6px 0px 0px 12px;
}

.principle__para {
    color: #7C8BA1;
    font-size: 16px;
    width: 260px;
    margin-bottom: 40px;
}

/*

PLANS

 */

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan__container {
    width: calc(90%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 4px;
    position: relative;
}

.border__top--1 {
    position: absolute;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    height: 8px;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.border__top--2 {
    position: absolute;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    height: 8px;
    top: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.plan__container--middle {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-clip: content-box;
    border-radius: 10px;
}

.part--1, .part--2, .part--3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-top: solid 1px #A0AEC0;
    padding: 48px 32px;
}

.button__1, .button__2, .button__3 {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    padding: 16px 56px;
}

.plan__3--info {
    display: flex;
    justify-content: center;
}

.button__1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: #F7FAFC;
    font-weight: 700;
}

.button__2 {
    background-color: #F7FAFC;
    opacity: 1;
    color: #6415FF;
    font-weight: 700;
}

.button__3 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: #F7FAFC;
    font-weight: 700;
}

.plan__feature {
    margin-top: 20px;
    font-size: 16px;
    color: #718096;
    font-weight: 500;
}

.plan__name, .plan__main--feature {
    font-size: 20px;
    color: #1A202C;
    font-weight: 700;
}

.plan__price {
    font-weight: 800;
    font-size: 48px;
    color: #1A202C;
    margin: 4px 0px;
}

.plan__duration {
    letter-spacing: 1.5px;
    margin-top: 16px;
    font-size: 16px;
    color: #A0AEC0;
    font-weight: 700;
}

.plan__name--2, .plan__main--feature--2 {
    font-size: 20px;
    color: #F7FAFC;
    font-weight: 700;
}

.plan__price--2 {
    font-size: 48px;
    color: #F7FAFC;
    margin: 4px 0px;
    font-weight: 700;
}

.plan__duration--2 {
    letter-spacing: 1.5px;
    margin-top: 16px;
    color: #E3E7EB;
    font-size: 16px;
    font-weight: 700;
}

.plan__feature--2 {
    margin-top: 20px;
    font-size: 16px;
    color: #E3E7EB;
    font-weight: 500;
}

/*

TESTIMONIALS

 */

.testimonials {
    display: flex;
}

.testimonial__img {
    display: flex;
    width: 100%;
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 64px;
}

.testimonial__img {
    max-width: 100%;
}

.review__rating--stars {
    margin-bottom: 24px;
    color: #fabf2a;
}

.review__para {
    color: #4A5568;
    font-size: 16px;
    margin: 16px 0px 40px 0px;
    font-weight: 500;
}

.review__profile {
    display: flex;
}

.review__profile--img {
    width: 18%;
    border-radius: 50%;
}

.review__heading{
    color: #243E63;
    margin-bottom: 8px;
}

.review--para {
    color: #7C8BA1;
    font-weight: 500;
}

.review__highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.review__button {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.review__profile--container {
    display: flex;
}

.review__button--left, .review__button--right {
    position: relative;
    padding: 12px 16px;
    border-radius: 50%; 
    background-color: #EDF2F7;
}

.fa-arrow-left, .fa-arrow-right{
    color: #6415FF;
}


/*

LIST MENU

 */


.accordion {
    display: flex;
    justify-content: space-between;
    background-color: #edf2f7;
    color: #2d3748;
    cursor: pointer;
    margin-top: 20px;
    padding: 18px 32px 18px 32px;
    width: 100%;
    border-radius: 8px;
    border: none;
    text-align: left;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #dde4ea;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.question {
    width: 900px;
}

.question__container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.developer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6415FF;
    width: 100%;
    padding: 100px;
    border-radius: 10px;
}

.developer__description {
    font-size: 36px;
    color: #F7FAFC;
    display: flex;
    width: 50%;
}

.contact__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.btn__link, .btn__contact {
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    margin-right: 24px;
    font-weight: 700;
}

.btn__link {
    background-color: #F56565;
}

.btn__link:hover {
    background-color: #f54c4c;
}

.btn__contact:hover {
    background-color: #F7FAFC;
    color: #6415FF;
}

.btn__contact {
    border: 1px solid #A0AEC0;
}


/* 

FOOTER

*/

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer__main {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}
